* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: sans-serif;
}

body {
  margin: 0;
}

/* header styling */

.icon-primary,
.icon-secondary {
  display: block;
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.icon-secondary {
  position: absolute;
  top: 0%;
}

.header-cart-count {
  transition: transform 0.35s ease-in-out;
}

@media only screen and (min-width: 1280px) {
  .header-account::after {
    content: "";
    position: absolute;
    right: 0px;
    background: rgba(243, 245, 246, 0.3);
    top: calc(50% - 17px);
    height: 34px;
    width: 1px;
  }
}

.nav-bar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 40px;
  right: 0;
  top: 0;
}

.nav-bar-item:hover #desktop-menu-1 {
  visibility: visible;
  opacity: 1;
}

.nav-bar-item:hover #desktop-menu-2 {
  visibility: visible;
  opacity: 1;
}

.account-popover {
  transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1),
    transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
}

.mini-cart {
  transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1),
    transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
}

.form-field-label {
  transition: transform 0.2s ease-in-out;
}

.form-input-wrapper input:focus + label,
.form-input-wrapper input:valid + label {
  transform: scale(0.75);
}

@media only screen and (min-width: 640px) {
  .show {
    display: block;
    opacity: 1;
  }
}

@media only screen and (min-width: 640px) {
  .show2 {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .header-search-bar {
    position: absolute;
    padding: 0 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #10b59f;
    transition: visibility 0.25s ease-in-out, margin-bottom 0.25s ease-in-out;
  }
}

/* footer styling */

.form-field {
  box-shadow: 0 1px rgba(225, 227, 228, 0.25) inset;
  transition: #e1e3e4 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.form-label {
  transform: translateY(-6px) scale(0.8);
  transform-origin: left top;
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
}

.social-media-item:hover .facebook {
  opacity: 1;
  color: #3b5998;
  transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.social-media-item:hover .instagram {
  opacity: 1;
  color: #d83776;
  transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.social-media-item:hover .youtube {
  opacity: 1;
  color: #ff0000;
  transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.social-media-item:hover .linkedin {
  opacity: 1;
  color: #0077b5;
  transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.form-labals {
  transition: transform 0.2s ease-in-out;
}

.form-wrappers input:focus + label,
.form-wrappers input:valid + label {
  transform: scale(0.75);
}

.plus-button::before {
  width: 10px;
  height: 2px;
  opacity: 1;
}

.plus-button::after {
  width: 2px;
  height: 10px;
}

.plus-button::before,
.plus-button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: #10b5f9;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.plus-button:active .plus-button::before {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

.showplus.plus-button::before {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

.showplus.plus-button::after {
  transform: translate(50%, -50%) rotate(90deg);
}

@media (min-width: 640px) {
  .footer-collapse {
    height: auto;
  }
  .footer-title {
    cursor: default;
  }
}

@media (max-width: 640px) {
  .footer-collapse {
    height: 0;
  }
  .footer-title {
    cursor: pointer;
  }
}

/* main styling */

.slide {
  transition: transform 0.5s ease-in-out;
}

.slide.active {
  transform: translateX(0);
}

.slide:not(.active) {
  transform: translateX(100%);
}

.faq-question::after {
  color: #ffffff;
  content: "\276F";
  transition: all 0.2s ease;
}

.faq-answer {
  will-change: height;
  transform: translateY(25px);
  transition: all 0.2s ease;
  backface-visibility: hidden;
}

.toggle:checked ~ .faq-answer {
  transform: translateY(0);
  padding: 15px 20px;
  height: auto;
  opacity: 1;
  overflow: unset;
  visibility: visible;
  transition: all 0.3s ease, opacity 1s ease, height 0.3s ease;
  color: #161817;
  background-color: #f7fbfd;
}

.toggle:checked ~ .faq-question::after {
  transform: rotate(90deg);
}

.group-item:hover .btn-next {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.group-item:hover .btn-previous {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

/* product card styling */
.active {
  background-color: #4f46ef;
  font-weight: bold;
  color: #ffffff;
}

.active:hover {
  background-color: #665ff3;
}

.activeColor {
  border: 1px solid black;
}

/* checkout page styles */

.form-labels {
  transition: transform 0.2s ease-in-out;
}

.form-wrapper input:focus + label,
.form-wrapper input:valid + label {
  transform: scale(0.75);
  top: 8px;
}

.form-wrapper input:focus,
.form-wrapper input:valid {
  padding-top: 25px;
  padding-bottom: 10px;
}

.question-hover {
  display: none;
}

.question-btn:hover + .question-hover {
  display: flex;
}
